# Site settings
title: "@Jachimo's Projects"
description: "Stuff I've worked on"
author: Jachimo
url: "https://jachimo.github.io"
baseurl: ""

# Build settings
markdown: kramdown
theme: minima

# GitHub Pages specific settings
github_username: Jachimo

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .git/
  - .gitignore

# Plugins
plugins:
  - jekyll-feed
  - jekyll-seo-tag
